html body .chatlio-widget.closed {
  height: 30px;
  text-align: center; }
  html body .chatlio-widget.closed .title-text {
    margin-left: -5px; }

.chatlio-widget.hide {
  display: none !important; }

#chatlio-widget {
  position: relative;
  overflow: hidden; }

#chatlio-widget.embed-inline-container {
  height: 100%; }

.chatlio-widget.embed-inline {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
  left: 0;
  right: 0; }
  .chatlio-widget.embed-inline .message-container {
    height: 480px !important; }
  .chatlio-widget.embed-inline .new-message-container {
    border: 1px solid #B8B8B8; }
  .chatlio-widget.embed-inline .controls {
    display: none; }

.chatlio-widget {
  color: black;
  line-height: 1.4;
  font-weight: normal;
  text-align: left;
  box-shadow: 0px 1px 5px rgba(0, 50, 100, 0.25);
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 1 !important;
  font-family: "Helvetica Neue", Arial, sans-serif;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 319px;
  width: 260px;
  z-index: 9999;
  background-color: #fff;
  box-sizing: border-box;
  border-top: 0;
  border-bottom: 0;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s; }
  .chatlio-widget .emojione {
    max-height: 20px; }
  .chatlio-widget textarea {
    min-height: 0;
    max-height: 96px; }
  .chatlio-widget img {
    margin: 0;
    width: auto;
    height: auto;
    vertical-align: baseline; }
  .chatlio-widget .chatlio-typing-indicator {
    height: 14px;
    border-radius: 14px 14px 14px 14px;
    vertical-align: bottom; }
  .chatlio-widget .btn {
    padding: 7px 12px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: #ccc; }
  .chatlio-widget .btn:focus, .chatlio-widget .btn:active:focus, .chatlio-widget .btn.active:focus {
    outline: 0 none; }
  .chatlio-widget .btn-primary {
    background: #0099cc;
    color: #ffffff; }
  .chatlio-widget p {
    padding: 0px; }
  .chatlio-widget .hide {
    display: none !important; }
  .chatlio-widget *, .chatlio-widget *:before, .chatlio-widget *:after {
    box-sizing: inherit; }
  .chatlio-widget .clear {
    clear: both;
    overflow: visible;
    visibility: visible;
    width: auto;
    height: auto; }
  .chatlio-widget .chatlio-widget-body.closed {
    display: none; }
  .chatlio-widget .title-bar {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-color: rgba(87, 167, 230, 1);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    line-height: normal;
    position: relative;
    font-weight: 300;
    font-size: 14px;
    padding: 6px 10px 6px 10px;
    color: #F0F0F0;
    background-color: #3f51b5;
    cursor: pointer;
    height: 30px;
    text-align: center; }
    .chatlio-widget .title-bar a {
      color: white; }
  .chatlio-widget .title-text {
    padding-left: 5px;
    font-weight: 400;
    /* unvisited link */
    /* visited link */
    /* mouse over link */
    /* selected link */ }
    .chatlio-widget .title-text a:link {
      color: white;
      text-decoration: none; }
    .chatlio-widget .title-text a:visited {
      color: white;
      text-decoration: none; }
    .chatlio-widget .title-text a:hover {
      color: white;
      text-decoration: underline; }
    .chatlio-widget .title-text a:active {
      color: white;
      text-decoration: none; }
  .chatlio-widget .title-bar .controls:before {
    content: "\00a0\00a0"; }
  .chatlio-widget .online-dot {
    margin-top: 3px;
    margin-left: 15px;
    float: left; }
  .chatlio-widget .title-bar .controls {
    background: url("/img/arrowhead-down-16.9df10652.png") right no-repeat;
    background-size: 10px 10px;
    min-width: 10px;
    margin-right: 5px;
    float: right; }
  .chatlio-widget .title-bar .controls.closed {
    background: url("/img/arrowhead-up-16.45054f24.png") right no-repeat;
    background-size: 10px 10px; }
  
  /*
  .chatlio-widget .message-container {
    overflow: auto !important;
    height: 198px !important;
    font-size: 14px; }
  */

  .chatlio-widget .message {
    padding: 5px !important;
    font-size: 12px;
    border-bottom: 1px solid #f9f9f9; }
  .chatlio-widget .message-author {
    float: left;
    font-weight: bold;
    color: #3E3D41;
    padding-bottom: 5px;
    height: 24px; }
    .chatlio-widget .message-author img {
      height: 12px; }
  .chatlio-widget .message-timestamp {
    float: right;
    color: #ccc;
    font-size: 0.8em;
    padding-right: 5px; }
  .chatlio-widget .message-body {
    color: #3E3D41; }
    .chatlio-widget .message-body pre {
      font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
      overflow: auto;
      line-height: 0.7;
      width: auto;
      max-height: 200px;
      background-color: #F4F4F6;
      padding: 6px;
      margin: 2px;
      border: 1px solid #dddde4;
      border-radius: 3px; }
    .chatlio-widget .message-body code {
      border-radius: 3px;
      padding: 2px 4px 0px 4px;
      background-color: #F4F4F6;
      color: #c92657;
      border: 1px solid #dddde4;
      font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif; }
  .chatlio-widget .new-message-container {
    background-color: #F0F2F7;
    padding: 5px;
    padding-bottom: 3px;
    height: 71px;
    border-top: 1px solid #d8d8d8; }
    .chatlio-widget .new-message-container .connecting {
      border: 1px solid orange; }
  .chatlio-widget .new-message {
    overflow: auto;
    font-size: 12px;
    width: 100%;
    border: 1px solid #d8d8d8;
    padding: 5px;
    background-color: #fff;
    margin-bottom: 3px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    height: 59px;
    box-sizing: inherit; }
  .chatlio-widget .screenshot-request {
    padding: 3px; }
  .chatlio-widget .screenshot-btn {
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 5px;
    border-radius: 4px;
    border: 1px solid transparent;
    color: white; }
  .chatlio-widget .screenshot-btn-send {
    background-color: #5cb85c; }
  .chatlio-widget .screenshot-btn-dismiss {
    background-color: #f0ad4e; }
  .chatlio-widget .offline-message-container {
    background-color: #F0F2F7;
    height: 269px;
    padding: 5px;
    font-size: 13px;
    width: 100%; }
    .chatlio-widget .offline-message-container input {
      font-size: 12px;
      width: 100%;
      border: 1px solid #d8d8d8;
      padding: 5px;
      margin-bottom: 3px;
      height: 35px;
      box-sizing: inherit; }
    .chatlio-widget .offline-message-container textarea {
      font-size: 12px;
      padding: 5px;
      border: 1px solid #d8d8d8;
      margin-bottom: 3px;
      font-family: "Helvetica Neue", Arial, sans-serif;
      width: 100%; }
    .chatlio-widget .offline-message-container .missed-you-message {
      padding: 2px;
      margin: 0 2px 4px 0; }
  .chatlio-widget .offline-message-container-sent {
    padding-top: 100px;
    text-align: center;
    vertical-align: middle; }
  .chatlio-widget input.error, .chatlio-widget textarea.error {
    border: 2px solid red; }
  .chatlio-widget img.file-attachment {
    padding-bottom: 3px;
    max-width: 240px;
    max-height: 127.6px; }
  .chatlio-widget .file-attachment-title {
    font-size: 0.9em;
    padding-bottom: 5px; }
  .chatlio-widget .powered-by {
    background-color: #F0F2F7;
    font-size: 10px;
    color: #9BA2A9;
    height: 20px;
    width: 100%;
    text-align: right;
    padding: 5px;
    padding-top: 1px; }
  .chatlio-widget .powered-by a {
    text-decoration: underline;
    cursor: pointer;
    color: #9BA2A9; }
